.eventVisionContainer{
    display: flex;
    margin: 30px;
    background: rgba(0,0,0,0.5);
    border-radius: 20px;
    padding: 20px;
}

.eventVisionContainer > div{
    padding: 40px;
}

.confirmButton{
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    background-color: #34A853;
    color: white;
    border: none;
    width: 100%;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
    transition: .2s;
}

.confirmButton:hover{
    background-color: #256837;
    transition: .2s;
}

.defineLembrete{
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    background-color: #C10C99;
    color: white;
    border: none;
    width: 100%;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
    transition: .2s;
}

.defineLembrete:hover{
    background-color: #83136b;
    transition: .2s;
}

/*
function EventVision() {

  return (
    <>
        <Header toMap = { false } />
        <div className = { styles.eventVisionContainer }>
            <div>
                <div className = { styles.evaluation }> <Rating type = {'large'}/></div>
                <button className = { styles.confirmButton }>CONFIRMAR</button>
                <button className = { styles.defineLembrete }>DEFINIR LEMBRETE</button>
            </div>
            <div>
                <div>
                    <img src = { styles.eventBanner }/>
                </div>
                <div>
                    <span className = { styles.localidade }> Parque Tecnologico de Pelotas </span>
                    <span className = { styles.date }> 20/08/2023 </span>
                    <span className = { styles.hour }> 22:55 </span>
                    <span className = { styles.interestCount }> 45 </span>
                </div>
            </div>
        </div>
    </>
  )
}

export default EventVision*/