
.sidebar{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #050214;
    width: 50%;
    height: 30%;
    border-radius: 20px;
    opacity: 0.8;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title{
    margin-left: 28%;
    margin-top: 30px;
}

.inputContainer{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.confirmButton{
    margin-left: 25%;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    background-color: #34A853;
    color: white;
    border: none;
    width: 50%;
    border-radius: 20px;
    height: 60px;
    cursor: pointer;
    transition: .2s;
}

.cancelButton{
    margin-left: 25%;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    background-color: #EB4335;
    color: white;
    border: none;
    width: 50%;
    border-radius: 20px;
    height: 60px;
    cursor: pointer;
    transition: .2s;
}



